table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid gray;
    padding: 2px;
}

.table {
    display: inline-block;
}

.header {
    background: #D3D3D3;
}

tr:nth-child(even) {
    background-color: #D3D3D3;
}

